/* Body */
body {
    background-image: url("assets/imgs/BackgroundOpacity.png");
    background-repeat: no-repeat;
    background-position-x: 20%;
    max-width: 100%;
    width: auto;
}

/* Image Background, useless.. */
/* .ImageBackground {
    opacity: 0.33;
    float: right;
    clear: right;
    width: 100%;
    max-width: 700px;
    height: auto;
} */

/* Links */
.Links button:hover {
    background-color: #9b9b9b;
}

.Links p {
    font-style: italic;
    font-size: 18px;
}

.Links h1 {
    margin: 0;
    font-style: italic;
    font-size: 18px;
}

.Links button {
    display: block;
    margin-block: 10px;
    padding-block: 5px;
    background-color: #aaaaaa;
    border-radius: 5%;
}

/* Texts */
.Texts {
    width: 250px;
}

/* Misc */
.Misc {
    margin: auto;
    width: 100%;
    bottom: 0;
    text-align: center;
}


.Contact h1 {
    font-size: 18px;
    margin: 0;
    font-style: italic;
}

.Contact p {
    font-size: 14px;
    margin: auto;
    opacity: 0.420;
    padding: 2.5px
}

.TODO {
    margin: auto;
    width: 100%;
    text-align: center;
}

.TODO h1 {
    font-size: 18px;
    margin: 0;
    font-style: italic;
}

.TODO p {
    font-size: 14px;
    margin: 0;
    opacity: 0.75;
    padding: 2.5px
}