/* Body */
body {
    max-width: 100%;
    width: auto;
}

button {
    display: block;
    margin-block: 10px;
    padding-block: 5px;
    background-color: #aaaaaa;
    border-radius: 5%;
}

button:hover {
    background-color: #9b9b9b;
}

/* Cargo */
.Cargo h1 {
    margin: 0;
    word-wrap: normal;
    width: 720px;
    font-size: 22px;
    font-weight: lighter;
}

.Cargo b {
    font-weight: bold;
}

/* Intro */
.Intro h1 {
    font-style: italic;
    font-weight: 400;
}

/* Part 1 */
.Part1 h1 {
    margin: 15px;
    font-size: 40px;
}

.Part1 p {
    margin: 5px;
    word-wrap: normal;
    width: 720px;
    font-size: 22px;
}

.Part1 ol {
    width: 400px;
    padding: 15px;
    background-color: #FFBFBF;
    border: 2px solid #41526B;
    color: #41526B;
    list-style-type: decimal;
    margin-bottom: 10px;
}

/* Part 2 */
.Part2 h1 {
    margin: 15px;
    font-size: 40px;
}

.Part2 p {
    margin: 5px;
    word-wrap: normal;
    width: 720px;
    font-size: 22px;
}

/* Part 3 */
.Part3 h1 {
    margin: 15px;
    font-size: 40px;
}

.Part3 p {
    margin: 5px;
    word-wrap: normal;
    width: 720px;
    font-size: 22px;
}

/* Gallery/Big Gallery */
.Gallery {
    flex: 50%;
    max-width: 70%;
    max-height: 70%;
    padding: 0 0px;
  }
  
.Gallery img {
    border-radius: 10px;
    margin-top: 10px;
    vertical-align: middle;
 }

.BigGallery img {
    width: 50%;
    height: 50%;
 }