/* Body */
body {
    max-width: 100%;
    width: auto;
}

/* Buttons */
button {
    display: block;
    margin-block: 10px;
    padding-block: 5px;
    background-color: #aaaaaa;
    border-radius: 5%;
}

button:hover {
    background-color: #9b9b9b;
}

/* Cargo */
#Cargo h1 {
    margin: 0;
    font-style: italic;
    font-size: 26px;
}

#Cargo h2 {
    margin: 10px;
    font-style: normal;
    font-size: 22px
}

#Cargo p {
    margin: 0;
    font-size: 20px;
}

/* Buttons */
#Buttons button {
    float: left;
    margin-left: 10px;
    width: 100px;
    font-size: 20px;
}

#Buttons button:after {
    display: table;
    clear: both;
}