/* Body */
body {
    max-width: 100%;
    width: auto;
}

/* Buttons */
button {
    display: block;
    margin-block: 10px;
    padding-block: 5px;
    background-color: #aaaaaa;
    border-radius: 5%;
}

button:hover {
    background-color: #9b9b9b;
}

/* Cargo */
#Cargo h1 {
    margin: 0;
    font-style: italic;
    font-size: 26px;
}

/* Quote */
#Quote h1 {
    margin-top: 10px;
    font-weight: normal
}

#Quote p {
    font-size: 18px;
}

/* Intro */
#Intro h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
}

#Intro h1 i {
    font-style: italic;
}

#Intro h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}