/* Body */
body {
    max-width: 100%;
    width: auto;
}

/* Buttons */
button {
    display: block;
    margin-block: 10px;
    padding-block: 5px;
    background-color: #aaaaaa;
    border-radius: 5%;
}

button:hover {
    background-color: #9b9b9b;
}

/* Cargo */
.Cargo h1 {
    margin: 0;
    font-style: italic;
    font-size: 26px;
}

/* Intro */
.Intro h1 {
    font-style: normal;
    font-size: 30px;
    color: red;
    opacity: 1; /* At start */
}

.Intro p {
    margin: 5px;
    word-wrap: normal;
    width: auto;
    font-size: 22px;
}

/* Part 1 */
.Part1 h1 {
    margin: 15px;
    font-size: 40px;
}

.Part1 p {
    margin: 5px;
    word-wrap: normal;
    width: 800px;
    font-size: 22px;
}