/* Body */
body {
    max-width: 100%;
    width: auto;
}

/* Buttons */
button {
    display: block;
    margin-block: 10px;
    padding-block: 5px;
    background-color: #aaaaaa;
    border-radius: 5%;
}

button:hover {
    background-color: #9b9b9b;
}

/* Cargo */
#Cargo h1 {
    margin: 10px;
    font-style: italic;
    font-size: 26px;
}

/* Intro */
#Intro h1 {
    margin: 0;
    word-wrap: normal;
    width: 960px;
    font-size: 22px;
    font-style: normal;
    font-weight: lighter;
}

/* Infos */
#Infos h1 {
    margin: 10px;
    font-size: 28px;
    font-style: normal;
}

#Infos p {
    margin: 0;
    word-wrap: normal;
    width: 960px;
    font-size: 22px;
    font-style: normal;
    font-weight: lighter;
}

#Infos p b {
    font-weight: bold;
}

#Infos li {
    font-size: 20px;
}

#Info2 button {
    width: 200px;
    font-style: italic;
}

/* Outro */
#Outro p {
    width: 580px;
}