/* Body */
body {
    max-width: 100%;
    width: auto;
}

button {
    display: block;
    margin-block: 10px;
    padding-block: 5px;
    background-color: #aaaaaa;
    border-radius: 5%;
}

/* Intro */
.Intro button:hover {
    background-color: #9b9b9b;
}

.Intro p {
    font-style: italic;
    font-size: 18px;
}

.Intro h1 {
    margin: 0;
    font-style: italic;
    font-size: 22px;
}

/* Cargo */
.Cargo h1 {
    margin: 0;
    font-style: italic;
    font-size: 22px;
}

.Cargo button:hover {
    background-color: #9b9b9b;
}