/* Body */
body {
    max-width: 100%;
    width: auto;
}

button {
    display: block;
    margin-block: 10px;
    padding-block: 5px;
    background-color: #aaaaaa;
    border-radius: 5%;
}

/* Intro */
.Intro button:hover {
    background-color: #9b9b9b;
}

.Intro p {
    font-size: 18px;
}

.Intro h1 {
    margin: 0;
    font-style: italic;
    font-size: 22px;
}

/* Cargo */
.Cargo p {
    font-size: 18px;
    margin: 0;
}

.Cargo h1 {
    margin: 0;
    font-style: italic;
    font-size: 22px;
}

.Cargo button:hover {
    background-color: #9b9b9b;
}

.Cargo img {
    width: 64px;
    margin: 0;
}

/* Sub-Cargo */
/* Tutorials */
.Tutorials i {
    color: rgba(0, 0, 0, 0.33);
    font-weight: bold;
}

.Tutorials i:hover {
    color: rgba(0, 0, 0, 1);
}